In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MaxAbsScaler, Binarizer
from sklearn.preprocessing import FunctionTransformer
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import f1_score
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.grid_search import GridSearchCV
%matplotlib inline

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\ProgramData\Anaconda2\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
# data = pd.read_json('D:\\dropbox_zeev\\Dropbox\\Naya -DS - June 2017\\Final Project\\train.json', encoding='utf-8-sig') #<-- for runnig the code at home
data = pd.read_json('X:\\Zeev\\Python\\whats_cooking.json', encoding="utf-8") # <-- For run the code at work 
i=0
new_df_src = []
while i < len(data['id']):
    r_id=data['id'][i]
    r_cuisine=data['cuisine'][i]
    for ingrd in data['ingredients'][i]:
        new_df_src.append({
            "id":i+1,
            "cuisine_id":r_id,
            "cuisine": r_cuisine,
            "ingredient": ingrd
        })
    i+=1
data = pd.DataFrame.from_dict(new_df_src)
data['ingredient'] = data['ingredient'].str.encode("utf-8-sig", errors='strict') #encoding the DF
data = data.apply(lambda x: x.astype(str).str.lower()) #converting all the df to lower case
data = data.dropna(axis=1)
data.head()

  cuisine cuisine_id id        ingredient
0   greek      10259  1  ﻿romaine lettuce
1   greek      10259  1     ﻿black olives
2   greek      10259  1   ﻿grape tomatoes
3   greek      10259  1           ﻿garlic
4   greek      10259  1           ﻿pepper

In [13]:
data.describe()

        cuisine cuisine_id      id ingredient
count    428275     428275  428275     428275
unique       20      39774   39774       6703
top     italian       3885   15290      ﻿salt
freq      77667         65      65      18049

In [12]:
# num of ingredient
data.groupby('ingredient')['id'].nunique(dropna=True)#.sort_values(ascending=True)

ingredient
﻿(    oz.) tomato sauce                                       11
﻿(   oz.) tomato paste                                         9
﻿(10 oz.) frozen chopped spinach                               3
﻿(10 oz.) frozen chopped spinach, thawed and squeezed dry      2
﻿(14 oz.) sweetened condensed milk                             2
﻿(14.5 oz.) diced tomatoes                                     3
﻿(15 oz.) refried beans                                        3
﻿1% low-fat buttermilk                                         4
﻿1% low-fat chocolate milk                                     2
﻿1% low-fat cottage cheese                                    12
﻿1% low-fat milk                                             193
﻿2 1/2 to 3 lb. chicken, cut into serving pieces               2
﻿2% low fat cheddar chees                                      1
﻿2% low-fat cottage cheese                                     6
﻿2% lowfat greek yogurt                                        2
﻿2% milk shredded mozzarella cheese                            1
﻿2% reduced-fat milk                                          71
﻿25% less sodium chicken broth                                 3
﻿33% less sodium cooked deli ham                               1
﻿33% less sodium cooked ham                                    1
﻿33% less sodium ham                                           3
﻿33% less sodium smoked fully cooked ham                       1
﻿40% less sodium taco seasoning                                7
﻿40% less sodium taco seasoning mix                            5
﻿7 up                                                          4
﻿8 ounc ziti pasta, cook and drain                             1
﻿95% lean ground beef                                          4
﻿a taste of thai rice noodles                                  1
﻿abalone                                                       2
﻿abbamele                                                      1
                                                            ...
﻿yoghurt                                                     247
﻿yoghurt natural low fat                                       1
﻿yogurt cheese                                                 2
﻿yogurt dressing                                               1
﻿yogurt low fat                                                1
﻿yolk                                                         14
﻿yoplait                                                       1
﻿yoplait® greek 100 blackberry pie yogurt                      1
﻿yoplait® greek 2% caramel yogurt                              1
﻿young coconut meat                                            2
﻿young leeks                                                   1
﻿young nettle                                                  1
﻿yu choy                                                       3
﻿yuca                                                          3
﻿yucca                                                         3
﻿yucca root                                                    1
﻿yukon gold                                                    7
﻿yukon gold potatoes                                         218
﻿yuzu                                                          5
﻿yuzu juice                                                    3
﻿yuzukosho                                                     2
﻿za'atar                                                       2
﻿zatarains creole seasoning                                    1
﻿zatarain’s jambalaya mix                                      1
﻿zest                                                         10
﻿zesty italian dressing                                       17
﻿zinfandel                                                    10
﻿ziti                                                         29
﻿zucchini                                                    892
﻿zucchini blossoms                                             2
Name: id, Length: 6703, dtype: int64

In [ ]:
# Num countries
len(data.groupby('cuisine')['cuisine'].count())

In [ ]:
# Num of recepices per country
data.groupby('cuisine')['id'].nunique(dropna=True).sort_values(ascending=False)

In [ ]:
# histogram of recepies
cuisine_per_country  = data.groupby('cuisine')['id'].nunique(dropna=True)#.sort_values(ascending=False)
cuisine_per_country = cuisine_per_country.to_frame(name=None)
cuisine_per_country.plot.hist(by=data,bins=150,figsize =(7.5,7.5),fontsize = 15)

In [ ]:
# The country with the most recepies
print data.groupby(['cuisine'])['id'].count().argmax()

In [ ]:
New_df_src=[]
i=0
while i<len(data):
    r = data[i]
for ingrd in data_dic['ingredients']:
    New_df_sec.add({"id": r['id'],
                    "cuisine": r["cuisine"],
                    "ingredient": ingrd})
    i+=1

In [ ]:
from collections import OrderedDict, defaultdict
data_dic=data.to_dict('split')
data_dic

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn import svm
# ingredient_list = data['ingredients'].tolist()
# vectorizer = CountVectorizer()
# ingredient_list1 = [' '.join(j for j in i) for i in ingredient_list]
# x = vectorizer.fit_transform(ingredient_list1)
# ingredient_list2 = data_test['ingredients'].tolist()
# ingredient_list2 = [' '.join(j for j in i) for i in ingredient_list2]
# X_test = vectorizer.transform(ingredient_list2)
# y = data_train.cuisine

In [ ]:
# clg = svm.SVC(kernel='linear',C=0.4)
# final = clg.fit(x,y)
# output = pd.Series(final.predict(x_test))
# ids = data_test.id
# submit = pd.concat([ids,output],axis=1)
# submit.head()

In [ ]:
for x in data['ingredients'][0:10].str.split(pat=",", n=-1, expand=False):
#     if x not in ingredients_unique:
#         ingredients_unique.append(x)
        print "{:<20}\n".format(*x) #data.ingredients.unique()
        
#         


# print data.ingredients.unique()

In [ ]:
# # data['ingredients']
# print "{}\n".format(data['ingredients'].str.split(pat=",", n=0, expand=True))

In [ ]:
# from sklearn.feature_extraction import DictVectorizer
# vec = DictVectorizer()
# vec1 = vec.fit_transform(data['ingredients'].str).toarray()
# print vec1

In [ ]:
s = data.ingredients.str.split('\s+').apply(pd.Series).unstack().T.dropna().reset_index(1,drop=True)

In [ ]:
s1 = s.to_frame(name='sep_ingredients')
s1.head

In [ ]:
 print data.merge(s1, how='left', right_index=True, left_index=True, indicator = True),#validate='many_to_one')
# print data

In [ ]:
# print test.get_dummies()
test_df = pd.DataFrame.from_records(test,columns =['cuisine','id','ingredients','sep_ingredients','merge'] )
print test_df